/*-----------------------------------
VIDEO BACKGROUND
------------------------------------*/

* {
  box-sizing: border-box;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Keep aspect ratio on compatible devices*/
@media (min-aspect-ratio: 16/9){
  .fullscreen-bg-video{
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9){
  .fullscreen-bg-video{
    width: auto;
    height: 100%;
  }
}

/*On mobile devices is better to use a picture as background*/
@media (max-width: 767px){
  .fullscreen-bg{
    background: url("../img/video.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .fullscreen-bg-video{
    display: none;
  }
}

/*------------------------------------------------
SLEEPO FORM
------------------------------------------------*/
body {
  margin: 0;
}

.main-container {
  display: flex;
  min-height: 98vh;
  justify-content: center;
  align-content: center;
  flex-direction: column;

}

/*Social Networks*/

.social-networks {
  display: flex;
  justify-content: center;
}

.social-networks > div {
  flex-basis: 100px;
  height: 50px;
}

.facebook {
  background-color: rgb(59,89,152);
}

.twitter {
  background-color: rgb(85,172,238);
}

.google-plus {
  background-color: rgb(221,75,57);
}

/*Sleepo Form*/

.sleepo-form {
  background-color: rgba(40,44,52,0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:4em 0;
  min-height: 94vh;
}

/* Logo */

.logo {
  width: 60%;
  max-width: 300px;
}

.single-column,
.double-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2em;
  width: 85%;
  margin-bottom: auto;
}

.double-column {
 justify-content: space-around;
  margin-top: inherit;
  flex: 1;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  min-width: 250px;
  height: 1px;
  background-color: rgb(42,127,255);
  margin: 4.5em 0;
  align-self: center;
}

p {
  color: rgb(171,178,191);
  text-align: justify;
}

h1,h2 {
  color: rgb(171,178,191);
  font-weight: bold;
}

h2 {
  margin-right: auto;
}

/* Font colors for paragraphs*/

.bold{
  font-weight: bold;
}

.red{
  color:rgb(224,108,117);
}

.green{
  color:rgb(115,201,144);
}

/*Blue Button*/
.button {
  background-color: rgb(42,127,255);
  color: rgb(171,178,191);
  font-size: 1.5em;
  font-weight: bold;
  border: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  margin-top: auto;
}

/*Steps Links*/
.steps {
  width: 50%;
  max-width: 170px;
  display: flex;
  padding-left: 0;
  justify-content: space-around;
  margin: 0;
  margin-top: 1em;
  align-items: center;

}

.steps li{
  list-style: none;
  display: flex;
  margin:0;
  min-width: 35px;
  max-width: 35px;

}

/*Grey Circles*/
.steps li:nth-child(2n+1):not(.selected) {
  border: 5px solid rgb(171,178,191);
  border-radius: 100%;
  min-height: 35px;
  max-height: 35px;
}

/*Grey Connectors*/
.steps li:nth-child(2n+2){
  background-color: rgb(171,178,191);

  min-height: 5px;
  max-height: 5px;
}

.steps a {
  color: rgb(171,178,191);
  font-weight: bold;
  text-decoration: none;
  margin: auto;
}

/*Blue Circles*/
.steps li:nth-child(2n+1).selected{
  border: 5px solid rgb(42,127,255);
  border-radius: 100%;
  min-height: 35px;
  max-height: 35px;
}

/*Blue Connectors*/
.steps li:nth-child(2n+2).selected{
  background-color: rgb(42,127,255);
}

a.selected{
  color: rgb(42,127,255);
}

/*Mobile Animations Forms*/
/*.hide {
  display: none;
}*/

body{
  position: relative;

}

.main-container {
  display: none;
  position: absolute;
  top:0;
  right:0;
  left:0;
}

.show {
  display: flex;
}

/*This simple animations only applies for mobiles and tables devices
Desktops will have a more complex transitions animations*/

.in {
  animation: in 500ms ease-in-out forwards;
}

.out {
  animation: out 500ms ease-in-out forwards;
}

@keyframes in {
  0% {transform:translateX(100%);}
  100% {transform:translateX(0px);}
}

@keyframes out {
  0% {transform:translateX(0px);}
  100% {transform:translateX(-100%);}
}


/*------------------------------------------
MEDIA QUERIES
--------------------------------------------*/
@media screen and (min-width:700px) {
  .double-column {
    flex-direction: row;
    padding: 0 1.5em;
  }

  .column {
    align-self: stretch;
    flex: 1;
  }


  .line {

    /*Reset the mobile's values*/
    min-width: inherit;
    height: inherit;
    margin: 0;
    align-self:auto;

    /*Apply the values for tablet and desktop*/
    width: 1px;
    min-height: 250px;
    background-color: rgb(42,127,255);
    margin: 0 4.5em ;
  }

  .double-column .button {
    margin-top: auto;
  }
}

@media screen and (min-width:1024px){
  .main-container{
    flex-direction: row-reverse;
    align-items: center;
  }

  .social-networks{
    flex-direction: column;
  }

  .social-networks > div{
    width: 50px;
    flex:1;
    margin: 0.5em 0;
  }

  .sleepo-form {
    margin:inherit;
    max-width: 900px;
    height: 600px;
    align-content: space-between;
    box-shadow: 0 0 30px -2px rgb(40,44,25);
  }

  .single-column {
    width: 55%;
  }

  /*Forms Transition Animations - Desktop Version*/
  body{
    overflow: hidden;
  }

  .in {

    animation: in-desktop 1500ms cubic-bezier(.13,.36,.6,1.52) forwards;
  }

  .out {
    animation: out-desktop 1500ms cubic-bezier(.27,-0.27,.74,1.28) forwards;
  }

  @keyframes in-desktop {
    0% {
      transform:translateX(100%) translateY(-100%) rotateZ(90deg);
      opacity: 0;
    }

    25% {
      opacity: 0;
    }

    100% {
      transform:translateX(0px) translateY(0px) rotateZ(0deg);
      opacity: 1;
    }
  }

  @keyframes out-desktop {
    0% {
      transform:translateX(0px) translateY(0px) rotateZ(0deg);
      opacity: 1;
    }

    75%{
      opacity: 0;
    }

    100% {
      transform:translateX(-100%) translateY(-100%) rotateZ(-90deg);
      opacity: 0;
    }
  }







}
