/*-----------------------------------
VIDEO BACKGROUND
------------------------------------*/

* {
  box-sizing: border-box;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Keep aspect ratio on compatible devices*/
@media (min-aspect-ratio: 16/9){
  .fullscreen-bg-video{
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9){
  .fullscreen-bg-video{
    width: auto;
    height: 100%;
  }
}

/*On mobile devices is better to use a picture as background*/
@media (max-width: 767px){
  .fullscreen-bg{
    background: url("../img/video.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .fullscreen-bg-video{
    display: none;
  }
}

/*------------------------------------------------
SLEEPO FORM
------------------------------------------------*/

.main-container {
  display: flex;
  height: 98vh;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

/*Social Networks*/

.social-networks {
  display: flex;
  justify-content: center;
}

.social-networks > div {
  flex-basis: 100px;
  height: 50px;
}

.facebook {
  background-color: rgb(59,89,152);
}

.twitter {
  background-color: rgb(85,172,238);
}

.google-plus {
  background-color: rgb(221,75,57);
}

/*Sleepo Form*/

.sleepo-form {
  background-color: rgba(40,44,52,0.8);
  margin-bottom: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Logo */

.logo {
  width: 65%;
  max-width: 300px;
  margin-top: auto;
}

p {
  width: 85%;
  color: rgb(171,178,191);
  text-align: justify;
}

/* Font colors for paragraphs*/

.bold{
  font-weight: bold;
}

.red{
  color:rgb(224,108,117);
}

.green{
  color:rgb(115,201,144);
}

/*Blue Button*/
.button {
  background-color: rgb(42,127,255);
  color: rgb(171,178,191);
  font-weight: bold;
  border: 0;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-top: auto;
  margin-bottom: 18%;
}
